{
  "factory-plugins": {
    "source": {
      "source": "github",
      "repo": "Factory-AI/factory-plugins"
    },
    "installLocation": "{{ replace "\\" "/" .chezmoi.homeDir }}/.factory/plugins/marketplaces/factory-plugins",
    "autoUpdate": true
  }
}
